parameters:
    level: max
    paths: [src, use-case/src]
    excludes_analyse: [src/adm.php]

services:
    -
        class: ADM\Test\Analysis\GatewayLocator
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
